<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>收货工作台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="css/desk.css">
</head>
<body>
<div id="app">
    <div class="header">
        收货工作台
        <img class="user-icon" src="img/user.png" @click="showUser">
    </div>
    <p class="desc">营业部数据统计</p>
    <ul class="count">
        <li class="count-item">
            <span class="count-number">{{buyGift}}</span>
            <p>已购买礼物数</p>
        </li>
        <li class="count-item">
            <span class="count-number">{{sendGift}}</span>
            <p>已赠送礼物数</p>
        </li>
        <li class="count-item">
            <span class="count-number">{{transferCount}}</span>
            <p>转介绍客户数</p>
        </li>
    </ul>
    <ul class="menu">
        <li class="menu-item" :class="{active: status == 3}" @click="changeStatus(3)">待确认收货</li>
        <li class="menu-item" :class="{active: status == 4}" @click="changeStatus(4)">已确认收货</li>
    </ul>
    <div class="search-box">
        <div class="search-input">
            <img class="search-icon" src="img/search.png" alt="">
            <input class="input-item" v-model="agentMemberName" type="text" placeholder="搜索经纪人姓名">
        </div>
        <span class="fliter" @click="fliterList">
        <img class="fliter-icon" src="img/select.png" alt="">
            筛选
        </span>
    </div>
    <div class="gift-list-wrapper">
        <ul class="gift-list">
            <li v-for="item in orderList" class="list-item">
                <p class="gift-title">{{item.goodsName}}</p>
                <p class="gift-on">订单编号：{{item.purchaseOrderNumber}}</p>
                <p class="people">经纪人：{{item.agentMemberName}}（{{item.mobile}}）</p>
                <p class="gift-number">商品数量：<span class="number">{{item.goodsCount}}</span>盒</p>
                <button v-if="item.orderState == 3" class="confirm-btn" @click="receiveConfirm(item.purchaseOrderId)">确认收货</button>
                <p v-else class="time">收货时间：{{formatTime(item.receiveTime)}}</p>
            </li>
        </ul>
        <p v-if="orderList.length === 0" style="text-align: center;line-height: 50px">没有相关订单</p>
    </div>
    <div class="user-info-wrapper" :style="{left: showInfo ? '0' : '-250px'}">
        <div class="user-info">
            <img class="avatar" src="img/default.png" alt="">
            <p class="name">{{insideMemberName}}</p>
        </div>
        <p class="sale-title">所属营业部</p>
        <ul class="saleList">
            <li v-for="item in saleDptList" class="sale-item">{{item.infoValue}}</li>
        </ul>
        <button class="login-out" @click="loginOut">退出登录</button>
    </div>
    <div v-if="showInfo" class="mask" @click="clickMask"></div>
</div>
<script src="./assets/jquery-3.3.1.min.js"></script>
<script src="./assets/vue.js"></script>
<script src="./assets/layer.js"></script>
<script src="js/desk.js"></script>
</body>
</html>